<div class="background">

  <div class="wrapper">
    <form (submit)="onLogin($event)" method="post">
      <h2>Login</h2>
      <div class="input-field">
        <input type="text" required [(ngModel)]="email" name="email" />
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required [(ngModel)]="password" name="password" />
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
      </div>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>
